<!DOCTYPE html>
<html lang='eng'>
<head>
    {% load static %}
    <title> {{object.title}} | Marcelo Cardoso </title>
    <meta charset='utf8'/>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href="{% static 'blog/css/main_post.css'%}"/>
    <link rel='shortcut icon' type='image/png' href='/static/home/img/m.jpg' sizes='32x32'/>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
    <script id="dsq-count-scr" src="//marcelo-page.disqus.com/count.js" async></script>
    <script src="{% static 'blog/js/post.js' %}"></script>
    {% include "universal/google.html" %}
</head>

<body id='top'>    
    <div id='toggle-sidebar-wrapper'>
        <div id='toggle-wrapper'>
            <div id='toggle-container'>
                <a class='button' id='blog-button' aria-hidden='true'><</a>
            </div>
        </div>
    </div>

    <div id='essay-wrapper'>
        <div id='essay-header'>
            <h2 class='essay-title'><a name='published-essay' id='{{object.id}}'>{{object.title}}</a></h2>
            <div class='essay-date'>
                {{ object.date|date:"M d, Y" }}
            </div>
        </div>
        <div class='essay'>{{ object.body|safe|linebreaks }}</div>
        <div class='mona-lisa'>
        {% if object.image.url != None %}
            <a><img src="{{ object.image.url }}"></a>
        {% endif %}
        </div>
        <div id='disqus_thread'></div>
        <script src="{% static 'blog/js/disqusPt.js' %}"></script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</body>
</html>