<!DOCTYPE html>
<html>
<head>
	{% load static %}
    <title>Language settings | Marcelo Cardoso</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1">
	<link rel='shortcut icon' type='image/png' href='/static/home/img/m.jpg' sizes='32x32'/>
    <link rel='stylesheet' href="{% static 'home/css/main.css'%}" type="text/css" />
	<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
	<script src="{% static 'home/js/home.js' %}"></script>
</head>
<body>
	<p><a class='button' id='en'>en </a><a class='separator'>|<a class='button' id='pt'> pt</a></p>
</body>
</html>
