.vscode

# Migrations
migrations
*.pyc
__pycache__

# Templates collected for local development
home/templates/admin/*

# Static files collected for local development
*.scss
*.css.map
mysite/static/*
media
