.vscode

# Migrations
en/migrations/*.py
ptbr/migrations/*.py
home/migrations/*.py
*.pyc
__pycache__

# Templates
home/templates/admin/*

# Static
home/static/home/js/*
home/static/index/css/all.min.css
mysite/static/*
mysite/media/*

# Prod.
mysite/settings/prod.py
mysite/requirements/prod.txt
admin.txt
