@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

$medDevice: 767px;
$smallDevice: 479px;

@mixin medDevice {
    @media only screen and (max-width: #{$medDevice}) {
        @content;
    }
}

@mixin smallDevice {
    @media only screen and (max-width: #{$smallDevice}) {
        @content;
    }
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
        opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
	background: #fff;
	animation-name: fadeIn;
	animation-duration: 800ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-play-state: running;
	transition: 500ms;
    position: absolute;
    font-family: 'Roboto Mono', 'monospace';
}

header {
    height: 30vh;
    width: 100%;
    text-align: center;
    transition: .2s;

    @include medDevice() {
        height: 20vh;
    }
}




#blog-title-wrapper {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10vh;
    margin-left: 5vw;

    #blog-title {
        background-color: #f03838;
        padding: 5px 10px 6px;
        box-shadow: inset 0 -5px 0 #cb2e2e;
        overflow-wrap: break-word;
        word-break: break-word;
        word-wrap: break-word;
    }
}




#toggle-wrapper {
    position: fixed;
    z-index: 1000;
    right: 0;
    top: 0;
    box-sizing: border-box;

    #toggle-container {
        width: 80px;
        height: 80px;
        padding: 25px 30px;
        background: transparent;
        text-align: center;
        box-sizing: border-box;
        transition: .3s;
    }
}




#sidebar-wrapper {
    background: #fff;
    box-shadow: -2px 0px 4px 2px #9b9b9b71;
    position: fixed;
	z-index: 2000;
	top: 0;
    right: -424px;
    width: 420px;
    height: 100%;
	transition: .3s;
    overflow: auto;
        
    @include smallDevice() {
        right: -324px;
        width: 320px;
        overflow: auto;
    }
    
    ul {
        margin: 0;
        padding: 20px 0;
    }
        
    ul li {
        list-style: none;
        display: block;
        padding: 10px;
        transition: top .2s;
    }

    #remote-controller-wrapper { 
        text-align: center;
        margin-bottom: 40px;

        .close-sidebar-button {
            text-align: center;
        }
    }

    .close-sidebar-button-post {
        text-decoration: none;
        color: #303030;
        margin-left: 5%;
    }

    .close-sidebar-button-post:hover {
        cursor: pointer;
        transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
        border-bottom: 1px solid #f03838;
        box-shadow: inset 0 -4px 0 #cb2e2e;
        overflow-wrap: break-word;
        word-break: break-word;
        word-wrap: break-word;
    }
        
    .publication-container {
        width: 400px;

        @include smallDevice() {
            width: 300px;
        }
    }

    .publication-contained {
        width: 350px;
        
        @include smallDevice() {
            width: 250px;
        }
    }
}




#essay-wrapper {
	padding: 20px;
    scroll-behavior: smooth;

    .mona-lisa {
        margin: auto;
        max-height: 100%;
        width: auto;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 10%;
        transition: .2s;
    }

    .essay-title {
        border-top: 2px solid #242424;
        line-height: 100px;
        text-align: left;

        a {
            color: #000;
        }
        
        a:hover {
            cursor: pointer;
            transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
            border-bottom: 1px solid #f03838;
            box-shadow: inset 0 -8px 0 #cb2e2e;
            overflow-wrap: break-word;
            word-break: break-word;
            word-wrap: break-word;

            @include medDevice() {
                box-shadow: inset 0 -4px 0 #cb2e2e;
            }
        }
    }

    .essay-date {
        text-align: left;
        overflow: visible;
        margin-top: -55px;
        transition: .2s;
    }
    
    .essay {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: justify;
    }
}




a {
    font-size: 100%;
    line-height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}

h1 {
    color: #fff;
    font-size: 300%;
    line-height: 120%;
    text-transform: uppercase;
    transition: .2s;
    font-weight: 1;
    
    @include medDevice() {
        font-size: 150%;
        line-height: 100%;
    }
    
    @include smallDevice() {
        font-size: 120%;
        line-height: 100%;
    }
}

h2 {
    font-size: 150%;
    line-height: 120%;
	font-weight: 1;
    transition: .2s;
    text-transform: uppercase;
    
    @include medDevice() {
        font-size: 100%;
        line-height: 100%;
    }
}

h3 {
    font-size: 150%;
    line-height: 120%;
	font-weight: 1;
    transition: .2s;
    text-transform: uppercase;
    
    @include medDevice() {
        font-size: 100%;
        line-height: 100%;
    }
}

p {
	font-size: 150%;
	line-height: 130%;
	text-align: justify;
    transition: .2s;
    
    @include medDevice() {
        font-size: 100%;
        line-height: 100%;
        text-align: justify;
        transition: .2s;
    }
}

img {
	max-width: 100%;
	height: auto;
    width: auto;
}


.button, .scroll {
    font-size: 100% !important;
    line-height: 100% !important;

    @include medDevice() {
        font-size: 90% !important;
        line-height: 90% !important;  
    }

    @include smallDevice() {
        font-size: 80% !important;
        line-height: 80% !important;
    }
}

.button {
    cursor: pointer;
    text-decoration: none !important;
    font-size: 100%;
    line-height: 100%;
    color: #fff;
    background-color: #f03838;
    padding: 5px 10px 6px;
    box-shadow: inset 0 -5px 0 #ce2e2e;
}

.button:hover {
    background-color: #303030;
    padding: 5px 10px 6px;
    box-shadow: inset 0 -30px 0 #242424;
}

::selection {
    background: #303030;
    color: #fff;
}