<!DOCTYPE html>
<html lang='eng'>
<head>
	{% load static %}
    <title> Marcelo Cardoso </title>
    <meta charset="utf8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1">
	<link rel='shortcut icon' type='image/png' href='/static/home/img/m.jpg' sizes='32x32'/>
	<link rel='stylesheet' href="{% static 'index/css/main.css' %}" type='text/css'/>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.1/css/all.css' integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz' crossorigin='anonymous'>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.js'></script>
	<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
    <script src="{% static 'index/js/index.js' %}"></script>
	<script src="{% static 'index/js/indexPt.js' %}"></script>
</head>
<body>
	<div id='wrapper'>
		<header>
			<div id='menu'>
				<a id='home-button'><</a>
				<a id='contact-button'>contato</a>
				<a id='blog-button'>blog</a>
			</div>
		</header>
		<div id='front'>
			<h1>OLÁ, EU SOU O MARCELO</h1>
			<div id='contact-menu'>
				<li>
					<a href='marcelovicentegc@gmail.com'><i class="fas fa-envelope"></i></a>
					<a href='https://github.com/marcelovicentegc' target='_blank'><i class='fab fa-github'></i></a>
					<a href='https://www.linkedin.com/in/marcelo-cardoso-b77261144/' target='_blank'><i class='fab fa-linkedin-in'></i></a>
					<a href='https://www.strava.com/athletes/35289893' target='_blank'><i class='fab fa-strava'></i></a>
				</li>
			</div>
		</div>
		<div id='pegafrito'>
		</div>
	</div>
	<script src="{% static 'index/js/globe.js' %}"></script>
</body>
</html>